extends layout

block content
	div(class="mainbody") Main Body
		br
		div(style="font-size:23px;") List Country
		table(id="customers")
			thead
				th(style="text-align:center;width:10px") No.
				th Quốc Gia
				th Dân Số
				th Diện Tích
				th(style="text-align:center;width:360px") Ghi Chú
			tbody
			each country, index in resultList[0]
				tr(class=(index % 2 == 0) ? 'odd' : 'even')
					td(style="text-align:center;width:10px") #{index+1}
					td #{country.title}
					td #{country.popular}
					td #{country.dientich}
					td #{country.remarks}
		br
		br
		div(style="font-size:22px;") List Member In My Family
		div(class="products-table")
			table(class="blueTable")
				thead
					th(style="text-align:center;width:3%") No.
					th(style="width:17%") Họ và Tên
					th(style="text-align:center;width:12%") Giới Tính
					th(style="text-align:center;width:10%") Tuổi
					th(style="width:31%") Nghề Nghiệp
					th(style="width:17%") Mối Quan Hệ
					th(style="width:10%") Sở Thích
				tfoot
					tr
						td(colspan="2")
							div(class="links")
								a(href="#")&laquo;
								a(class="active" href="#") 1
								a(href="#") 2
								a(href="#")&raquo;
				tbody
				each member, index in resultList[1]
					tr(class=(index % 2 == 0) ? 'odd' : 'even')
						td(style="text-align:center") #{index+1}
						td #{member.hoten}
						td(style="text-align:center;width:80px") #{member.gioitinh}
						td(style="text-align:center") #{member.tuoi}
						td #{member.nghenghiep}
						td #{member.quanhe}
						td #{member.sothich}
	br
	div(class="footer") Footer
